{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>

    <meta charset="UTF-8">
    <title>TESTE</title>

</head>
<body class="min-h-screen flex flex-col">
{% include 'blog/html/base/navbar.html' %}

{% block content %}

{% endblock %}


{% include 'blog/html/base/footer.html' %}


<script src="{% static 'js/taiwinds_conf.js' %}"></script>
</body>
</html>