.card-body {
  border: 1px solid rgb(214, 0, 0);
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
}

body, html, footer, p, #footer {
  background-color: #212529

}



#logo{
  width: 100px;
  height: 70px;
  margin-left: -80px;
  
}
#content-padding{
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto  auto auto auto;
    background-color: rgb(55, 3, 83);
}

.box-element{
	box-shadow:hsl(289, 100%, 50%) 0 0 16px;
	background-color: rgb(0, 0, 0);
	border-radius: 4px;
  margin: auto;
	padding: 10px;
  border: 2px solid rgb(214, 0, 0);
	
}

.thumbnail{
	width: 100%;
	height: 200px;
  background-color: #fefcff;
	-webkit-box-shadow: -1px -3px 5px -2px rgb(55, 3, 83);
  -moz-box-shadow: -1px -3px 5px -2px rgb(55, 3, 83);
  
  padding: 10px;
  border: 3px solid rgb(214, 0, 0);
  border-radius: 4px;
}